@import url("https://fonts.googleapis.com/css2?family=Karla&family=Noto+Sans&family=Open+Sans&family=Roboto&display=swap");

:root {
  box-sizing: border-box;
  --primary-font: "Roboto";
  --system-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sidebar-bg-color: #1992d4;
  --main-layout-bg-color: #e2e8f0;
  --header-layout-bg-color: white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--primary-font), var(--system-font-family), sans-serif;
}

.layout-container {
  display: grid;
  grid-template-columns: minmax(290px, 1fr) 5fr;
  min-height: 100vh;
}

.sidebar-layout {
  background-color: var(--sidebar-bg-color);

  display: grid;
  grid-template-rows: minmax(80px, max-content);
  row-gap: 25px;
}

.logo-container {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 8px 0px 0px 13px;
}

.logo-container > img {
  width: 70px;
  height: 60px;
}

.logo-container > p {
  font-size: 26px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.nav-items-groups {
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 0px 0px 0px 35px;
}

.nav-items-group-one,
.nav-items-group-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-items-group-one > div,
.nav-items-group-two > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-items-group-one > div > img,
.nav-items-group-two > div > img {
  width: 25px;
  cursor: pointer;
}

.nav-items-group-one > div > p,
.nav-items-group-two > div > p {
  font-size: 17px;
  color: var(--header-layout-bg-color);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.header-layout {
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 15px;
  padding: 10px 0px 0px 37px;
}

.header-one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 150px;
}

.searchbar-container {
  display: flex;
  gap: 15px;
}

.searchbar-container > img {
  width: 25px;
}

.searchbar-container > input {
  width: 100%;
  border-radius: 13px;
  padding: 5px;
  background-color: #e2e8f0;
  border-color: #e2e8f0;
  border: 0;
  height: 20px;
  align-self: center;
  font-size: 18px;
}

.searchbar-container > input:focus {
  outline: none;
}

.user-info-container {
  display: flex;
  gap: 25px;
}

.user-info-container > img:nth-child(1) {
  width: 25px;
  cursor: pointer;
}

.user-info-container > img:nth-child(2) {
  width: 54px;
  height: 50px;
}

.user-info-container > p {
  font-size: 20px;
  margin: 0;
  align-self: center;
  font-weight: 600;
  min-width: 133.097px;
}

.header-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 15px;
}

.user-greeting-container {
  display: flex;
  gap: 20px;
}
.user-greeting-container > img {
  width: 70px;
  height: 67px;
  align-self: center;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  min-width: 298px;
}

.greetings > p {
  margin: 0;
}

.greetings > p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
}

.greetings > p:nth-child(2) {
  font-weight: 700;
  font-size: 25px;
}

.buttons-container {
  display: flex;
  gap: 30px;
}

.buttons-container > div {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1992d4;
  font-size: 17px;
  border-radius: 18px;
  color: white;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
  height: 24px;
  align-self: center;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.16);
}

.main-layout {
  background-color: var(--main-layout-bg-color);
}

.content-area-container {
  display: grid;
  grid-template-rows: minmax(147px, max-content);
}

.main-one {
  padding-left: 20px;
}

.projects > div {
  background-color: white;
  width: 340px;
  height: 160.222px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border-left: 8px solid #f0b429;
  padding: 23px 21px 24px 18px;
}

.project-text > p:nth-child(1) {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.project-text > p:nth-child(2) {
  margin: 0;
  font-size: 15px;
  color: #475569;
  text-align: left;
  padding-right: 10px;
}

.project-icons {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 24px;
  right: 25px;
}

.project-icons > img {
  width: 25px;
  cursor: pointer;
}

.main-two {
  padding-left: 20px;
}

.announcement-container > div {
  background-color: white;
  width: 295px;
  padding: 15px;
  border-radius: 12px;
}

.new-announcement {
  padding: 18px;
}

.new-announcement > p:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3px;
}

.new-announcement > p:nth-child(2) {
  font-size: 15px;
  color: #475569;
  margin: 0;
}

hr {
  width: 90%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.trending-container > div {
  background-color: white;
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 15px;
  border-radius: 12px;
}

.trending-profile {
  display: flex;
  gap: 20px;
  padding: 18px;
}

.trending-profile > img {
  width: 56px;
  height: 55px;
  cursor: pointer;
}

.trending-profile > div {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.trending-profile > div > p:nth-child(1) {
  margin: 0;
  font-size: 19px;
  cursor: pointer;
}

.trending-profile > div > p:nth-child(2) {
  margin: 0;
  font-size: 17px;
  color: #475569;
}
